In [35]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import os

In [7]:
# Geting csv files
list_of_files = os.listdir("./")
csv_files = []

for _file in list_of_files:
    if _file.endswith(".csv"):
        csv_files.append(_file)

csv_files

['5_When_rebuilding.csv',
 '1_After_reconstruction.csv',
 '1_When_rebuilding.csv',
 '2_Before_renovation.csv',
 '6_After_reconstruction.csv',
 '2_When_rebuilding.csv',
 '4_Before_renovation.csv',
 '5_After_reconstruction.csv',
 '3_When_rebuilding.csv',
 '3_After_reconstruction.csv',
 '6_Before_renovation.csv',
 '4_After_reconstruction.csv',
 '1_Before_renovation.csv',
 '3_Before_renovation.csv',
 '6_When_rebuilding.csv',
 '2_After_reconstruction.csv',
 '5_Before_renovation.csv',
 '4_When_rebuilding.csv']

In [10]:
def custom_slicer(signal, fs=825.8):
    '''
    Returns: first 10 seconds
             last 30 seconds of the signal
    '''
    return signal[:fs * 10], signal[30:]

In [27]:
def slicer(signal, fs=825.8, chunk_size_seconds=10):
    '''
    Returns: sliced signal in desired seconds chunks
    Note: size of the signal should be a true nominator of chunk size
    '''
    chunk_size = int(fs * chunk_size_seconds)
    return [signal[_ * chunk_size : (_+1)*chunk_size ] for _ in range(int(len(signal)/chunk_size))]

In [41]:
def signal_to_heatmap(signal):
    '''
    Returns the heatmap of signal
    '''
    # Desired size in pixels
    width_px = 600
    height_px = 600

    # DPI (dots per inch)
    dpi = 100

    # Convert to inches
    width_in = width_px / dpi
    height_in = height_px / dpi

    # Set the size of the heatmap
    plt.figure(figsize=(width_in, height_in), dpi=dpi)
    
    return sns.heatmap(signal, xticklabels=False, yticklabels=False, cbar=False)

In [55]:
def dir_creator(csv_file_name, columns):
    '''
    Creating directoies for each column of csv files
        to save heatmaps into them
    '''
    file_name = csv_file_name.split('.')[0]
    os.mkdir(file_name)
    for _ in range(columns):
        os.mkdir(f"{file_name}/{_}")

In [ ]:
# Reading and processing csv files

df_1_after = pd.read_csv("./1_After_reconstruction.csv")

In [5]:
df_1_after

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,201,202,203,204,205,206,207,208,209,210
0,0,0.000457,-0.000331,-0.000029,0.000268,0.000713,0.000965,0.000487,-0.000076,0.000282,...,0.000758,0.001347,0.000324,0.001348,0.000298,0.000503,0.000452,-0.000691,0.000435,0.003212
1,1,0.000698,0.000596,0.001797,0.000408,0.000887,0.000773,0.000143,0.000536,0.000424,...,0.000537,0.001371,0.000084,-0.000457,0.000034,0.000982,0.000446,-0.000889,-0.002635,0.002252
2,2,0.000186,-0.000585,0.000830,0.000536,0.001383,0.000825,-0.000180,0.000658,0.000037,...,0.000033,0.001522,-0.000073,0.000867,-0.001089,0.001482,0.000140,-0.000831,-0.006014,0.000283
3,3,0.001175,0.000471,0.000961,0.000104,0.001370,0.000216,-0.000075,0.000118,0.000059,...,-0.000197,0.000599,0.000168,0.001249,-0.001557,0.001438,0.000493,-0.000164,-0.006168,0.000384
4,4,0.001245,-0.000250,0.002107,-0.000201,0.001076,-0.000292,0.000464,-0.000050,-0.000013,...,-0.000093,0.001078,0.000225,0.000687,-0.002343,0.001478,0.000967,-0.000285,-0.003483,0.000898
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78428,78428,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78429,78429,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78430,78430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78431,78431,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78432,78432,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
columns_dict = {}

In [9]:
# Loading each column of df into dict
for col in df_1_after.columns:
    columns_dict[col] = df_1_after[col].to_numpy()

In [15]:
# Removing first incremental column
columns_dict.pop('Unnamed: 0')

array([    0,     1,     2, ..., 78430, 78431, 78432])

In [16]:
columns_dict.keys()

dict_keys(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '90', '91', '92', '93', '94', '95', '96', '97', '98', '99', '100', '101', '102', '103', '104', '105', '106', '107', '108', '109', '110', '111', '112', '113', '114', '115', '116', '117', '118', '119', '120', '121', '122', '123', '124', '125', '126', '127', '128', '129', '130', '131', '132', '133', '134', '135', '136', '137', '138', '139', '140', '141', '142', '143', '144', '145', '146', '147', '148', '149', '150', '151', '152', '153', '154', '155', '156', '157', '158', '159', '160', '161', '162', '163', '164', '165', '166', '167', '168', '169', '170', '171', '172', '173', '174', '175', '176', '177', '178', '179', '180', '181', '182', '183', '184', '185', '186', '187', '188', '189', '190', '191', '192', '193', '194', '195', '196', '197', '198', '199', '200', '201', '202', '203', '204', '205', '206', '207', '208', '209', '210'])